<a href="https://colab.research.google.com/github/ImprATIK05/python-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sif True:
  print('its truT')

its truT

In [ ]:
jyotsana  = True

if jyotsana:
  print('loves me !')
else:
    print('dont love me ')

# New Section

In [ ]:
loc = 'store'

if loc == 'auto shop':
  print('car are cools')
elif loc == "Bank":
  print('money is cool!')
elif loc == 'store':
  print('welcome to store')
else:
  print('i dont know anything!')

welcome to store

In [ ]:
#while loop examples 
x = 0

while x < 5 :
  print(f"current value of x is {x}")
  x = x + 1

current value of x is 0
current value of x is 1
current value of x is 2
current value of x is 3
current value of x is 4

In [ ]:
name = 'Laudu'

if name == 'pratik':
  print('Hello Pratik!')
elif name == "Rohit":
  print('bharwa hai sala')
elif name == 'Aniket':
  print('Mc hai sala')
else:
  print('Rohit aur Aaniket dono dalle hai saale chutiyee')

Rohit aur Aaniket dono dalle hai saale chutiyee

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in mylist:
  #check for odd 
  if num % 2 == 1:
    print(num)

1
3
5
7
9

In [ ]:
for num in mylist:
  if num % 2 == 0:
    print(num)
  else:
    print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [ ]:
list_name = 0
for num in mylist:
  list_name = list_name + num

print(list_name)

55

In [ ]:
for _ in "pratik":
  print('cool!!')

cool!!
cool!!
cool!!
cool!!
cool!!
cool!!

In [ ]:
myname = [ 20,40,50,60,70]

In [ ]:
mylist = [(1,2) , (3,4) , (4,5)]

In [ ]:
for item in mylist:
  print(item)

(1, 2)
(3, 4)
(4, 5)

In [ ]:
for a,b in mylist:
  #tuple unpacking examples
  print(a/b)

0.5
0.75
0.8

In [ ]:
mylist = [(1,2,3) , (4,5,6) , (7,8,9)]

In [ ]:
for item in mylist:
  print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [ ]:
d = { 'k1':100 , 'k2':200 , 'k3':300}

In [ ]:
for key,value in d.items():
  print(key , item)

k1 k3
k2 k3
k3 k3

In [ ]:
x = [1,2,3]
for item in x:
  #comment
  pass


print('end my script')

end my script

In [ ]:
mystring = 'pratik'

In [ ]:
for lettter in mystring:

if letter == 'a' :
    continue
    
  print(pratik)

IndentationError: ignored

In [ ]:
mystring = " sammy "

In [ ]:
Hungry = True
If hungry:
  Print("give me food") to

SyntaxError: ignored

In [ ]:
print ('pratik')

pratik

In [ ]:
hungry = True
True

In [ ]:
mylist = [1,2,3]

In [ ]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
#zip in python
mylist1 = [1,2,3]
mylist2 = ["a" , "b" , "c"]
mylist3 = [100,200,300]

In [ ]:
for item in zip (mylist1,mylist2,mylist3):
  print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [ ]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [ ]:
1 in [1,2,3]

True

In [ ]:
"pratik" in {"pooja" : 200}

False

In [ ]:
d = {"pratik":100}
345 in d.values()

False

In [ ]:
mylist = [10,20,30,100]

In [ ]:
max(mylist)

100

In [ ]:
from random import shuffle

In [ ]:
mylist = [1,2,3,4,5,6,7]

In [ ]:
shuffle(mylist)

In [ ]:
from random import randint

In [ ]:
mynum = randint(0,10)

In [ ]:
mynum

5

In [ ]:
input('inter a number here')

inter a number here1

'1'

In [ ]:
input('enter a placename')

enter a placenamenoida

'noida'

In [ ]:
loc = 'prtik is in love with tanisha'

if loc == 'pratik love tanisha':
  print('tanisha also loves pratik')
elif loc == 'pratik is in love with tanisha':
  print('but tanisha loves pratik')

In [ ]:
mylist = [1,2,3,4]

In [ ]:
mylist.append(5)

In [ ]:
mylist

[1, 2, 3, 4, 5]

In [ ]:
mylist.pop()

5

In [ ]:
mylist

[1, 2, 3, 4]

In [ ]:
help(mystring.)

In [ ]:
mylist = [1,2,3]

In [ ]:
mylist.append(4)

In [ ]:
mylist

[1, 2, 3, 4]

In [ ]:
mylist.pop()

4

In [ ]:
mylist

[1, 2, 3]

In [ ]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [ ]:
def say_hellow():
  print("hello")
  print("are")
  print("you?")

In [ ]:
say_hellow()

hello
are
you?

In [ ]:
def say_hello(name = "pratik"):
  print(f"hello {name}")

In [ ]:
say_hello()

hello pratik

In [ ]:
def add_num(num1,num2):
  return num1+num2

In [ ]:
result = add_num(10,20)

In [ ]:
result

30

In [ ]:
print("this is {f} double backslash ".format (f="//"))

this is // double backslash

In [ ]:
txt = "These are /\/\/\ mountains "
print (txt)

These are /\/\/\ mountains

In [ ]:
print("he is \tawesome") #to create space

he is 	awesome

In [ ]:
print("he is \nawesome") #to create nxt line

he is
awesome

In [ ]:
def odd_check(num):
  return num%2==1

In [ ]:
odd_check(20)

False

In [ ]:
def check_even_list(num_list):
  # return all even number in a list

  #placeholders variables
  even_number = []

  for number in num_list:
    if number % 2 == 0
      even_number.append(number)

      else:
        pass
   return even_numbers

SyntaxError: ignored

In [ ]:
stock_price = [('apple' ,200),('goog',400),('msft',100)]

In [ ]:
for item in stock_price:
  print(item)

('apple', 200)
('goog', 400)
('msft', 100)

In [ ]:
for ticker,price in stock_price :
  print (price+(0.1*price))

220.0
440.0
110.0

In [ ]:
work_hours=[('pratik',200 ),('garima',100),('aditya',50)]

In [ ]:
def employee_check(work_hours):
  current_min=0
  employee_of_month=''

  for employee,hours in work_hours:
    if hours<current_min:
      current_min=hours 
      employee_of_month=employee

  else:
      pass
      #return
      return(employee_of_month,current_min)

In [ ]:
name,hours = employee_check(work_hours)

In [ ]:
name

''

In [ ]:
result

('pratik', 200)

In [ ]:
import random

class TicTacToe:

    def __init__(self):
        self.board = []

    def create_board(self):
        for i in range(3):
            row = []
            for j in range(3):
                row.append('-')
            self.board.append(row)

    def get_random_first_player(self):
        return random.randint(0, 1)

    def fix_spot(self, row, col, player):
        self.board[row][col] = player

    def is_player_win(self, player):
        win = None

        n = len(self.board)

        # checking rows
        for i in range(n):
            win = True
            for j in range(n):
                if self.board[i][j] != player:
                    win = False
                    break
            if win:
                return win

        # checking columns
        for i in range(n):
            win = True
            for j in range(n):
                if self.board[j][i] != player:
                    win = False
                    break
            if win:
                return win

        # checking diagonals
        win = True
        for i in range(n):
            if self.board[i][i] != player:
                win = False
                break
        if win:
            return win

        win = True
        for i in range(n):
            if self.board[i][n - 1 - i] != player:
                win = False
                break
        if win:
            return win
        return False

        for row in self.board:
            for item in row:
                if item == '-':
                    return False
        return True

    def is_board_filled(self):
        for row in self.board:
            for item in row:
                if item == '-':
                    return False
        return True

    def swap_player_turn(self, player):
        return 'X' if player == 'O' else 'O'

    def show_board(self):
        for row in self.board:
            for item in row:
                print(item, end=" ")
            print()

    def start(self):
        self.create_board()

        player = 'X' if self.get_random_first_player() == 1 else 'O'
        while True:
            print(f"Player {player} turn")

            self.show_board()

            # taking user input
            row, col = list(
                map(int, input("Enter row and column numbers to fix spot: ").split()))
            print()

            # fixing the spot
            self.fix_spot(row - 1, col - 1, player)

            # checking whether current player is won or not
            if self.is_player_win(player):
                print(f"Player {player} wins the game!")
                break

            # checking whether the game is draw or not
            if self.is_board_filled():
                print("Match Draw!")
                break

            # swapping the turn
            player = self.swap_player_turn(player)

        # showing the final view of board
        print()
        self.show_board()


# starting the game
tic_tac_toe = TicTacToe()
tic_tac_toe.start()

Player O turn
- - -
- - -
- - -